<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Spring Boot REST API with AJAX</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1AnmQOpgJLLmMQoVyletzQTwfSp3d3yD65VohpuuCwLASj6qUBg"
          crossorigin="anonymous">
</head>
<body>
<div class="container" style="min-height: 500px;">
    <h1>Spring Boot REST API with AJAX Example</h1>

    <!-- Image -->
    <img id="images" src="#" alt="" width="100">

    <!-- Profile Information -->
    <div id="profile"></div>

    <!-- Logout Button -->
    <button id="Logout" class="btn btn-danger mt-3">Logout</button>
</div>

<!-- Bootstrap Bundle JS -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFyZZ8VL8aAn1NtVC7AFxspaVoXrsP1Uby6JOwFUdEN5F45Y4Flt3egqZ"
        crossorigin="anonymous"></script>

<!-- jQuery -->
<script src="https://cdn.jsdelivr.net/npm/jquery@3.7.1/dist/jquery.min.js"></script>

<!-- Custom JS -->
<script src="/js/main.js"></script>
</body>
</html>
